body {
height: 100vh;
}
.front-bg {
    position: fixed;
    width: 200%;
    height: 200%;
    z-index: -1;
}
.front-bg img{
    margin: auto;
    min-width: 50%;
    min-height: 50%;
}
.front {
    width: 100%;
    height: 100%;
}
.front-card {
    background-color: rgba(255, 255, 255, 0.74);
    position: relative;
    width: 1024px;
    height: 100%;
    margin: 0 auto;
    padding-top: 90px;
}
.front-card-table {
    position: relative;
    /* height: 100%; */
    margin:0 auto;
    width: 80%;
}
.front-card-top{
    margin:0 auto;
    width: 80%;
}
.pageTitle {
height: 71px;
}
.pageTitle p{
    font-size: 50px;
    color: rgb(2, 83, 94);
}
.searchBox #upForm{
    margin-top: 20px;
}
.searchBox #downForm{
    margin-bottom: 20px;
}
.searchBox #upLeftForm {
	float: left;
	margin-right: 160px;
	}
.searchBox #addTeacherBtn {
	margin-left: 232px;
	width: 100px;
	}
.searchBox #addStuBtn {
	margin-left: 11px;
	}
.front-card .table tbody {
border-bottom: 2px solid black;
}
.front-card .table th {
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    border-bottom: 2px solid black;
}
.front-card .table td {
    text-align:center;
    vertical-align: middle;
    font-size: 18px;
    border-bottom: 1px solid rgb(139,139,139);
    height: 60px;
}
.front-card .table span{
    font-size: 18px;
    width: 63px;
}
.front-card .pageNum {
    width: 80%;
    margin: 0 auto;
}
.pager li>a {
    width: 90px;
}
.pager span {
    font-size: 20px;
}
#HeadBar
{
    box-shadow: 0px 1px 8px rgba(92, 92, 92, 0.53); 
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    padding-left: 15%;
}
#logoImg{
    width: 32px;
    height: 32px;
    float: left;
    margin: 10px;
}
#preBtn {
    margin-right:25px;
}
#nextBtn {
    margin-left:25px;
}
