body {
height: 100vh;
}
.front-bg {
position: fixed;
width: 200%;
height: 200%;
z-index: -1;
}
.front-bg img{
	margin: auto;
	min-width: 50%;
	min-height: 50%;
}
.front {
width: 100%;
height: 100%;
}
.front-card {
background-color: rgba(255, 255, 255, 0.74);
position: relative;
width: 1024px;
height: 100%;
margin: 0 auto;
padding-top: 110px;
}
.front-card-course .panel {
    width: 70%;
    margin-left: 15%;
    margin-bottom: 45px;
}
.panel-title {
    font-size: 25px;
    float: left;
}
.panel-heading .course-btn {
    text-align: right;
}
#HeadBar
{
box-shadow: 0px 1px 8px rgba(92, 92, 92, 0.53); 
border-bottom: 1px solid rgba(0, 0, 0, 0.15);
padding-left: 15%;
}
#logoImg{
width: 32px;
height: 32px;
float: left;
margin: 10px;
}
